# Internal Analytics

In [1]:
from churn_compass.io.file_io import FileIO

In [2]:
io = FileIO()

In [5]:
ANALYTICS_QUERY = {
    "total_customers": """
        SELECT COUNT(*) AS total_customers
        FROM customers
    """,
    "average_balance_by_geography": """
        SELECT Geography, AVG(Balance) AS average_balance
        FROM customers
        GROUP BY Geography
    """,
    "churn_rate_by_age_group": """
        SELECT 
            CASE 
                WHEN Age < 30 THEN 'Under 30'
                WHEN Age BETWEEN 30 AND 50 THEN '30-50'
                ELSE 'Over 50'
            END AS age_group,
            AVG(Exited) AS churn_rate
        FROM customers
        GROUP BY age_group
    """,
    "min_max_tenure": """
        SELECT MIN(Tenure) AS min_tenure, MAX(Tenure) AS max_tenure
        FROM customers
    """,
}

In [6]:
df = io.query_with_duckdb(
    ANALYTICS_QUERY["average_balance_by_geography"],
    files={"customers": "../data/raw/Customer-Churn-Records.csv"},
)
df

13:08:13 | INFO     | churn_compass.io.file_io | Executing DuckDB analytics query
13:08:13 | INFO     | churn_compass.io.file_io | DuckDB query complete

  Geography  average_balance
0   Germany    119730.116134
1     Spain     61818.147763
2    France     62092.636516

In [7]:
df_2 = io.query_with_duckdb(
    ANALYTICS_QUERY["churn_rate_by_age_group"],
    files={"customers": "../data/processed/customers_*.parquet"}
)
df_2

13:08:15 | INFO     | churn_compass.io.file_io | Executing DuckDB analytics query
13:08:15 | INFO     | churn_compass.io.file_io | DuckDB query complete

  age_group  churn_rate
0     30-50    0.190335
1  Under 30    0.075564
2   Over 50    0.446471

In [8]:
df_3 = io.read_parquet("/home/kannan/Documents/churn-compass/data/processed/customers_20260209_121553.parquet")
df_3.info()

13:08:19 | INFO     | churn_compass.io.file_io | Reading Parquet file
13:08:19 | INFO     | churn_compass.io.file_io | Parquet loaded successfully
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64[pyarrow]
 1   Geography        10000 non-null  string[pyarrow]
 2   Gender           10000 non-null  string[pyarrow]
 3   Age              10000 non-null  int64[pyarrow]
 4   Tenure           10000 non-null  int64[pyarrow]
 5   Balance          10000 non-null  double[pyarrow]
 6   NumOfProducts    10000 non-null  int64[pyarrow]
 7   HasCrCard        10000 non-null  int64[pyarrow]
 8   IsActiveMember   10000 non-null  int64[pyarrow]
 9   EstimatedSalary  10000 non-null  double[pyarrow]
 10  Exited           10000 non-null  int64[pyarrow]
 11  CardType         10000 non-null  string[pyarrow]
 12  PointEarned      10000 non-null  int64[pyarrow]
dtypes: double[pyarrow](2), int64[pyarrow](8), string[pyarrow](3)
memory usage: 1.1 MB